# Python / Backend
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
*.db
*.sqlite3
*.log
.DS_Store
Thumbs.db
docs/db_credentials.md
.vscode/
server/dataset/dataset*.csv

# Node / Frontend
node_modules/
.next/
out/
build/
.pnp
.pnp.js
coverage/
.npm/
.eslintcache
.stylelintcache
.vercel/
*.tsbuildinfo
next-env.d.ts
